:root {
    /*global variables*/
    --bg:#242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --border: 1px solid #d3d3d3;
    --border-radius: 8px;
    --animation-speed: 500ms;
}

body {
    height: 100%;
    padding-top: 120px;
}

nav > .active {
    font-weight: bold;
}

.nav > a{
    color: #242526;
}

.nav-tabs {
    padding-bottom: 0px;
}

.tab-content {
    margin-top: 18px;
    padding-bottom: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 14px;
    border: var(--border);
    border-radius: 12px;
}

.button-align-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-muted-adjust-padding {
    padding-left: 4px;
}